:root {
    --primary: #1D5D9B;
    --secondary: #F4D160;
    --tertiary: #40A2D8;
}
.bg-primary{
    background-color: var(--primary) !important;
}

.bg-secondary{
    background-color: var(--secondary) !important;
}

.bg-tertiary{
    background-color: var(--tertiary) !important;
}

.text-primary{
    color: var(--primary) !important;
}

.text-secondary{
    color: var(--secondary) !important;
}

.text-white{
    color: #ffffff !important;
}

.text-black{
    color: #000000 !important;
}

.success-bg{
    color: white;
    background-color: #AAD9BB; 
}

.failure-bg{
    color: white;
    background-color: #BF3131; 
}